<main class="home-page">
  <div class="content">
    <div class="main-block">
      <% if @tweets.count != 0 %>
        <% @tweets.desc.each do |tweet| %>
          <div class="post-content">
            <div class="sub-box">
              <p><%= tweet.subject %></p>
            </div>
            <div class="con-box">
              <p><%= tweet.tweet_content %></p>
            </div>
            <div class="bottom-box">
              <div class="like-box">

                <div class="like-button-a"><a rel="nofollow" data-method="put" href="<%= like_tweet_path(tweet) %>" class="lk like"><div class="like-cnt"></div></a><%= tweet.get_upvotes.size %></div>
               
              </div>
              <div class="time-box">
                <p><%= tweet.created_at %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center text-light" style="position: relative; top: 10px;">
          <h1> No Tweets! </h1>
        </div>
      <% end %>
    </div>
  </div>
</main>
