<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= form.text_field :subject, autofocus: true, autocomplete: "subject", placeholder: "Subject", class:"tweet-subject" %>
    <%= form.text_field :tweet_content, placeholder:"Tweet Content", class:"tweet-subject"  %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => "tweet-submit"%>
  </div>
<% end %>
