<header class="home-pg-header">
  <div class="menu">
    <div class="left-menu-button">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="left-menu">
      <div class="top_box">
        <%= link_to edit_user_registration_path, :class => 'lm-i' do %>
          <div class="logo"></div>
          <p class="lm-p">My Account</p>
        <% end %>
        <%= link_to root_path, :class => 'lm-i' do %>
          <p class="lm-p">Home</p>
        <% end %>
        <%= link_to rooms_path, :class => 'lm-i' do %>
          <p class="lm-p">Chats</p>
        <% end %>
        <%= link_to new_room_path, :class => 'lm-i' do %>
          <p class="lm-p">New Chat</p>
        <% end %>
        <%= link_to tweets_path, :class => 'lm-i' do %>
          <p class="lm-p">Tweets</p>
        <% end %>
        <%= link_to new_tweet_path, :class => 'lm-i' do %>
          <p class="lm-p">New Tweet</p>
        <% end %>
        <div class="bottom_box">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </div>
    </div>
  </div>
</header>
